*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.sidebar {
    background-color: white;
    width: 200px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    overflow-y: auto;
    padding: 20px;
    transition: all 0.3s;
    z-index: 300;
    border-left: 1px solid #333;
  }
  
  .sidebar.active {
    right: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #555;
    border-radius: 4px;
  }
  
  .sidebar ul li a:hover {
    background-color: #777;
  }
  
  .content {
    width: 100%;
    height: 100vh;
  }
  
  .toggle-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
  }

  .close{
    text-align: end
  }

  .close p :hover{
    cursor: pointer;
  }